/* ERRORS */
.error{ color: red; font-size: 12px; }
.alert{ width: 100%; position: absolute; top: 0; left: 0; right: 0; }

.container{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d3033+0,000000+100 */
    background: rgb(45,48,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(45,48,51,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(45,48,51,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(45,48,51,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3033', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#content{
    padding: 0;
}

form input {
    margin-top: 20px;
    width: 100%;
    height: 40px !important;
}
form textarea {
    margin-top: 20px;
    width: 100%;
}

#messages-section{
    padding: 20px;
    max-height: 100vh;
    overflow-x: hidden;
    position: relative;
    float: left;
}


#inputs-section{
    position: relative;
    float: right;
}

#messages-section #messages{
    background-color: #fff;
    padding: 20px;
    max-width: 100%;
}

#messages-section #messages img, #messages-section #messages iframe{
    max-width: 100%;
}

#messages-section #messages div{
    padding: 0;
}

#logout-button{
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
}

@media (max-width: 767px) {
    #content{
        padding: 15px;
    }

    #messages-section{
        max-height: none;
        padding: 0;
    }

    #inputs-section{
    }
}