/* ERRORS */
.error{ color: red; font-size: 12px; }
.alert{ width: 100%;}

.container{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d3033+0,000000+100 */
    background: rgb(45,48,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(45,48,51,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(45,48,51,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(45,48,51,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3033', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

#content-login{
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
}

#content-login .content{
    margin-top: 70px;
}

#content-login .header{
    font-size: 16px;
    text-transform: uppercase;
}

#content-login .footer{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
}

#content-login .content input {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 12px;
}